/*
This is the styling for main headings
*/

* {
    border: 2px red solid;
}

body {
    background: steelblue;
}

body::after {
    content: "";
    height: 100vh;
    width: 100vw;
    opacity: .5;
    position: fixed;
    top:0;
    left:0;
    background-image: url("../img/craft-paper.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

}

#main-story {
    color: rebeccapurple;
}

#main-story>h1.headline {
    font-size: 5em;
    color: inherit;
}

h1.headline {
    color: #FACE0A; /* #EEFF00 */
    text-decoration: overline #f00;
    font-family: 'Permanent Marker', cursive;
    font-style: oblique;
}

#main-story {
    border: rebeccapurple 2px solid;
    font-weight: bold;
}

.news-story p {
    text-align: start;
    text-indent: 30px;
}

header, footer {
    background-color: rebeccapurple;
    color: antiquewhite;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: palevioletred;
}

a:hover {
    color: antiquewhite;
}

a:active {
    color: red;
}

ul {
    list-style-type: circle;
}