header {
    background-color: #373F51;
    padding: 1em;
    text-align: center;
    border-bottom: solid #C7E8F3;
}
header p {
    color: #C7E8F3;
    text-decoration: underline;
    margin-bottom: 0;
}
h1.veridian {
    color: #0DAB76;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
h2 {
    color: #F45B69;
}
body {
    background-color: rgb(55, 63, 81);
    background-image: url("../img/black_sand.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
    font-family: "Kosugi Maru", sans-serif;
}
main {
    margin: 0;
    padding: 1vw;
    background-color: rgba(55, 63, 81, .75);
}
footer {
    background-color: #373F51;
    margin: 0;
    padding: 1em;
    border-top: solid #C7E8F3;
}
footer p {
    color: #C7E8F3;
    padding: .05em
}
section {
    color: #5299D3;
}
li {
    list-style-position: outside;
}
ul li {
    list-style-type: circle;
}
ol li {
    list-style-type: lower-roman;
}
th {
    font-size: 1.7em;
    color: #F45B69;
    background-color: rgba(13, 171, 118, .5);
    padding: .75em;
}
td {
    font-size: 1.1em;
    padding: 1.2em;
    background-color: rgba(13, 171, 118, .3);
}
table {
    border: solid #C7E8F3;

}

footer a {
    float: right;

}

/* unvisited link (:link) */
footer a:link {
    color:#F45B69;
}

/* visited link (:visited) */
footer a:visited {
    color:#5299D3;
}

/* mouse hover over link (:hover) */
footer a:hover {
    color:#0DAB76;
}

/* active/selected link (:active) */
footer a:active {
    color:#C7E8F3;
}

#co-vision img {
    width: 48vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}